<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <div class="container-right">
        <div class="title">
            <h1>EnTRAR</h1>
            <p class="subtitle">Faça Login para continuar</p>
        </div>

        <form class="form" action="/login" method="POST">
            <label class="form-label" for="email">EMAiL</label><br>
            <input class="input-box" type="email" id="email" name="email" placeholder="seu@email.com" required><br>

            <label class="form-label" for="senha">SeNHA</label><br>

            <div class="password-container">
                <input class="input-box" type="password" id="senha" name="senha" placeholder="••••••••" required>
                <i class="fa-solid fa-eye toggle-password" id="togglePassword"></i>
            </div><br>

            <a class="link" href="/esqueci-senha">Esqueceu a senha?</a><br>

            <input class="submit-btn" type="submit" value="ENTrAR">
        </form>

        <div>
            <div class="line">
                <p class="small-title">Ou continue com</p>
                <div class="horizontal-line"></div>
            </div>
            
            <div class="auth-btn-container">
                <button class="auth-btn" type="submit">GoOGLE</button>
                <button class="auth-btn" type="submit">APpLE</button>
            </div>
            
            <div class="line">
                <p class="small-title">Não possui conta?</p><a class="link" href="/cadastro">Cadastre-se</a>
            </div>
        </div>

    </div>
</body>

</html>
